body {
    background-color: ghostwhite;
    text-align: center;
    align-items: center;
}

.post {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

#title {
    font-size: 18px;
}

.row-centered {
    text-align:center;
}

.list-group-item {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.list-group-item a {
    color: white;   
}

.list-group-item a:hover {
    color: orange;
    text-decoration: none;
}

.panel-heading p{
     padding-top: 7px;
}

.panel-heading {
    background-color: black !important;
    color: orange !important;
    border: 1px solid black !important;
}

.panel {
    border: 1px solid black !important;
}