<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Forum </a>
                <a class="navbar-brand" href="/new-topic">Create new topic</a>
            </div>
    </nav>
    <br><br>

    <h1>Are you sure you want to delete it?</h1>

    <form method="post">
        <input type="submit" class="gumb" value="Yes, delete it!">
    </form>

</body>
</html>