<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open topic</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Forum </a>
                <a class="navbar-brand" href="/new-topic">Create new topic</a>
            </div>
    </nav>
    <br><br>

    {% if user.admin==True %}

        <a href="/close-open/{{ topic.key.id() }}" name="door">Open topic</a>

    {% endif %}

</body>
</html>